.checkbox {
  @apply appearance-none focus:ring-0 focus:outline-none relative border-thick border-neutral rounded-sm cursor-pointer flex justify-center items-center ease-in duration-150;
  width: 18px;
  height: 18px;
}

.checkbox-primary:checked,
.checkbox-primary-indeterminate {
  @apply bg-success focus:bg-success focus:outline-none hover:bg-success border-success ease-in duration-150;
}

.checkbox-secondary:checked,
.checkbox-secondary-indeterminate {
  @apply bg-secondary focus:bg-secondary focus:outline-none hover:bg-secondary border-secondary ease-in duration-150;
}

.checkbox::before {
  @apply content-[''] w-sm h-sm scale-0 ease-in duration-150 origin-bottom-left;
  box-shadow: inset 1em 1em #fff;
}

.checkbox-indeterminate::before {
  @apply w-sm h-sm scale-100;
  box-shadow: inset 1em 1em #fff;
  clip-path: inset(35% 5% 35% 5%);
}

.checkbox:checked:before {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(1);
}

.checkbox-disabled {
  @apply opacity-5 pointer-events-none;
}

.label {
  @apply font-inter font-regular leading-24 text-neutral ml-xs cursor-pointer;
}

.label-disabled {
  @apply opacity-5 cursor-not-allowed;
}
